{% extends "_layouts/base.html" %}

{% load i18n %}

{% block main %}

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'dashboard' %}">scitweets :: {% trans 'Science Tweets' %}</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            {% if user.is_authenticated %}

            {% if False %}

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>

            {% endif %}

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    {% for task in tasks %}
                    <li>
                        <a href="{{ task.href|default:'#' }}">
                            <div>
                                {% with task.percentage as percentage %}
                                <p>
                                    <strong>{{ task.name }}</strong>
                                    <span class="pull-right text-muted">
                                        {% blocktrans context "task" %}
                                            {{ percentage }}% Complete
                                        {% endblocktrans %}
                                    </span>
                                </p>
                                {% if task.description %}
                                <p>
                                    <i>{{ task.description }}</i>
                                </p>
                                {% endif %}

                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width:{{ percentage }}%;">
                                        <span class="sr-only">
                                            {% blocktrans context "task" %}
                                                {{ percentage }}% Complete
                                            {% endblocktrans %}
                                        </span>
                                    </div>
                                </div>
                                {% endwith %}
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    {% endfor %}
                    <li>
                        <a class="text-center" href="#">
                            <strong>{% trans "See all tasks" %}</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>

            {% if False %}

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>

            {% endif %}

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> {% trans 'User Profile' %}</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> {% trans 'Settings' %}</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out fa-fw"></i> {% trans 'Logout' %}</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->

            </li>

            <!-- /.dropdown -->
            <li class="dropdown">
                {% get_current_language as LANGUAGE_CODE %}
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-language"></i>
                    <i class="fa fa-caret-down"></i>
                </a>

                <ul class="dropdown-menu dropdown-lang">

                    <!-- Language form -->
                    <form name="lang_form" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value=""/>
                        <input name="language" type="hidden"/>
                    </form>

                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        {% if language.code != LANGUAGE_CODE %}
                            <li>
                                <a onclick="document.lang_form.language.value='{{ language.code }}'; document.lang_form.submit();">
                                    {{ language.name_local.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <!-- /.dropdown-language -->

            </li>

            {% endif %}
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        {% if user.is_authenticated %}

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    {% if False %}
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                        <!-- /input-group -->
                    </li>

                    {% endif %}

                    <li>
                        <a href="{% url 'dashboard' %}">
                            <i class="fa fa-dashboard fa-fw"></i>
                            {% trans 'Dashboard' %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'tweets:tweet_question_list' %}">
                            <i class="fa fa-bar-chart-o fa-fw"></i>
                            {% trans 'Questions' %}
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-twitter fa-fw"></i>
                            {% trans 'Tweets' %}
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'tweets:tweet_list' %}">
                                    {% trans 'List' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'tweets:tweets_voted' %}">
                                    {% trans 'Voted' %}
                                </a>
                            </li>
                            {% if user.is_staff %}
                            <li>
                                <a href="{% url 'tweets:tweet_import' %}">
                                    {% trans 'Import' %}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-slack fa-fw"></i>
                            {% trans 'Trending Topics' %}
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'tweets:trendingtopic_list' %}">
                                    {% trans 'List' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'tweets:trendingtopics_voted' %}">
                                    {% trans 'Voted' %}
                                </a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <!--<li>-->
                        <!--<a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-second-level">-->
                            <!--<li>-->
                                <!--<a href="panels-wells.html">Panels and Wells</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="buttons.html">Buttons</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="notifications.html">Notifications</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="typography.html">Typography</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="icons.html"> Icons</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="grid.html">Grid</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span-->
                                <!--class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-second-level">-->
                            <!--<li>-->
                                <!--<a href="#">Second Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Second Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Third Level <span class="fa arrow"></span></a>-->
                                <!--<ul class="nav nav-third-level">-->
                                    <!--<li>-->
                                        <!--<a href="#">Third Level Item</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#">Third Level Item</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#">Third Level Item</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#">Third Level Item</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                                <!--&lt;!&ndash; /.nav-third-level &ndash;&gt;-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
                    <!--</li>-->
                    <!--<li class="active">-->
                        <!--<a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-second-level">-->
                            <!--<li>-->
                                <!--<a class="active" href="blank.html">Blank Page</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="login.html">Login Page</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a id="login" href="#">-->
                                    <!--<i class="fa fa-sign-in fa-fw"></i>-->
                                    <!--Login-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->

        {% endif %}

    </nav>

    {% if user.is_authenticated %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
    {% endif %}
                        {% include 'snippets/messages.html' %}
                        {% block content %}{% endblock content %}

    {% if user.is_authenticated %}
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    {% endif %}

</div>
<!-- /#wrapper -->

{% endblock main %}