{% extends "base.html" %}

{% load i18n %}

{% block page_title %}
    scitweets :: {% trans 'Science Tweets' %}
{% endblock %}

{% block meta_description %}
    {{ block.super }}
{% endblock %}
{% block meta_author %}
    {{ block.super }}
{% endblock meta_author %}

{% block meta %}
    {{ block.super }}
{% endblock meta %}

{% block cdn_css %}
    {{ block.super }}
{% endblock cdn_css %}

{% block css %}
    {{ block.super }}
{% endblock css %}

{% block body_class %}
    {{ block.super }}
{% endblock %}

{% block body_attributes %}
    {{ block.super }}
{% endblock body_attributes %}

{% block header %}
{% endblock header %}

{% block footer %}{% endblock %}